astropy
backcall
cftime
configobj
cycler
decorator
ephem
ipython
ipython-genutils
jedi
kiwisolver
matplotlib
netCDF4
numpy
parso
pexpect
pickleshare
# pkg-resources
prompt-toolkit
ptyprocess
Pygments
pyparsing
PyQt5
PyQt5-sip
python-dateutil
pytz
scipy
six
traitlets
wcwidth
